.section-calendar {
    height: 80rem;
    margin: 0 auto;
    max-width: 100rem;
    border-radius: 10px;
    background-color: $color-primary;
    box-shadow: 20rem 0rem 13rem 100rem rgba($color-secondary, 0.7);
}
