*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiase !important;

    box-sizing: border-box;
    padding: 3rem;

    // background-image: linear-gradient(
    //     to right bottom,
    //     $color-primary,
    //     $color-secondary
    // );

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

::selection {
    background-color: $color-tertiary;
    color: white;
}
