.header {
    display: flex;
    font-size: 1.8rem;
    height: 5rem;
    align-items: center;
    justify-content: flex-end;
    background-color: #94b1d2;

    &__nav {
        height: 100%;
        width: 5rem;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & a {
            color: $color-secondary;
            text-decoration: none;
            margin-right: 7rem;

            &:visited,
            &:active {
                color: $color-secondary;
            }
        }
    }

}
